html {
    margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #FFFFFF;
    color: #000000;
}
nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*:not(a) {
    transition: background-color 0.5s ease, color 0.5s ease;
}
h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
}
h1 {
    margin-bottom: 20px;
}
h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
}
button {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}
hr {
    border: 1px solid #2c3e50
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #EE0000;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #008200;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #0000FF;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #000000;
}
tr {
    color: black;
    text-align: center;
}
td {
    border: 3px solid #000;
}
p {
    margin: 10px 0;
}
pre, code {
    background-color: #ecf0f1;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 1em;
}
.icon-link {
    text-decoration: none;
}
.attention {
    color: #c0392b
}
.command {
    color: #2980b9;
    font-weight: bold;
}
div.center {
    margin: auto;
    width: 50%;
}
a.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.space {
    margin-left: 20px;
}